.ANP-container {
    display: flex;
    flex-direction: row;
    background-color: #adbc9f;
    margin: 6px;
    padding: 6px;
    border: 3px solid #f89437;
    justify-content: center;
    flex-wrap: wrap;
}

.ANP-form {
    display: flex;
    justify-content: center;
    font-family: "Graduate", serif;
    flex-wrap: wrap;
}

.ANP-form label {
    margin: 10px;
    padding: 4px;
}
.ANP-select,
.ANP-input {
    border: 3px solid #f89437;
    border-radius: 6px;
    margin: 4px;
    padding: 4px;
}
.ANP-container h3 {
    margin: 40px;
}

/* CSS */
.button-42 {
    background-color: initial;
    background-image: linear-gradient(-180deg, #ff7e31, orange);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue",
        Arial, sans-serif;
    height: 40px;
    line-height: 40px;
    outline: 0;
    overflow: hidden;
    padding: 0 20px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: top;
    white-space: nowrap;
    width: 40%;
    z-index: 9;
    border: 0;
    transition: box-shadow 0.2s;
}

.button-42:hover {
    box-shadow: rgba(212, 66, 4, 0.5) 0 3px 8px;
}
@media only screen and (max-width: 768px) {
    .ANP-form {
        flex-direction: column;
        text-align: center;
    }
    .ANP-container h3 {
        text-align: center;
        margin: 10px;
    }

    .ANP-form label {
        display: block;
        width: 100%; /* Sätt bredden till 100% för att de ska ta upp hela kolumnen */
        margin-bottom: 10px; /* Lägg till lite avstånd mellan varje label */
        text-align: center;
    }
    .ANP-input {
        display: block;
        text-align: center;
        width: 90%;
    }
    .ANP-select {
        display: block;
        text-align: center;
        width: 96%;
    }

    .ANP-form label:not(:last-child) {
        margin-bottom: 10px; /* Lägg till lite avstånd mellan varje label */
    }
}
