.ACEDtable-container {
  display: flex;
  flex-direction: column;
  background-color: #adbc9f;
  margin: 6px;
  padding: 6px;
  border: 3px solid #ffa346;
  text-align: center;
  justify-content: space-evenly;
}

.ACED-table {
  background-color: white;
  border: 3px solid #ffa346;
  font-family: Arial, Helvetica, sans-serif;
  justify-items: center;
}

.ACED-table th,
.ACED-table td {
  border: 1px solid #8b8a88;
}

.ACED-table th {
  background-color: #ffa346;
  font-weight: bold;
}
.ACEDtable-container h2 {
  font-family: "Graduate", serif;
}

/* Media query small screens */
@media only screen and (max-width: 768px) {
  .ACEDtable-container {
    padding: 10px;
    font-size: 11px;
  }

  .ACED-table th,
  .ACED-table td {
    padding: 4px;
  }
}
