body {
    background-color: #264949;
}

p {
    color: #f5f5f5;
}

h1 {
    color: #f5f5f5;
}

li {
    color: #f5f5f5;
}


.menuList {
    list-style-type: none;
    justify-content: center;
    color: #f5f5f5;
}

button {
    background-color: #f89640;
    border-radius: 10px;
    border-color: #f89640;
}

.People-list {
    color: #f5f5f5;
}

.logintest {
    background-color: #f89640;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}

.noBulletLists {
    list-style-type: none;
}

label {
    color: #f5f5f5;
}

select {
    background-color: #f89640;
    border-radius: 20px;
    border-color: #f89640;
}

input {
    background-color: #f89640;
    border-radius: 20px;
    border-color: #f89640;
}
