.page-container {
    display: flex;
    background-color: #adbc9f;
    margin: 6px;
    padding: 6px;
    border: 3px solid #ffa346;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.display-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Graduate", serif;
    flex-wrap: wrap;
    align-items: center;
}
.action-section {
    margin: 10px;
    padding: 10px;
    border-radius: 26px;
    background: #f5f5f5;
    box-shadow: 5px 5px 10px #7f7f7f, -5px -5px 10px #ffffff;
    flex: 1;
    display: flex;
    justify-content: center;
}

.PIE-select,
.PIE-input {
    border: 3px solid #ffa346;
    border-radius: 6px;
    margin: 4px;
    padding: 4px;
}
.standard-btn {
    background-color: initial;
    background-image: linear-gradient(-180deg, #ff7e31, orange);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue",
        Arial, sans-serif;
    height: 40px;
    line-height: 40px;
    outline: 0;
    overflow: hidden;
    padding: 0 20px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: top;
    white-space: nowrap;
    width: 100%;
    z-index: 9;
    border: 0;
    transition: box-shadow 0.2s;
}
.standard-btn:hover {
    box-shadow: rgba(212, 66, 4, 0.5) 0 3px 8px;
}

.standard-btn2 {
    background-color: initial;
    background-image: linear-gradient(-180deg, #ff7e31, orange);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: Inter, -apple-system, system-ui, Roboto, "Helvetica Neue",
        Arial, sans-serif;
    height: 40px;
    line-height: 40px;
    outline: 0;
    overflow: hidden;
    padding: 0 20px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: top;
    white-space: nowrap;
    z-index: 9;
    border: 0;
    transition: box-shadow 0.2s;
    margin-top: 10px;
}
.standard-btn:hover {
    box-shadow: rgba(212, 66, 4, 0.5) 0 3px 8px;
}
#TIE-date {
    font-weight: bold;
}

.table-container {
    overflow-x: auto;
    font-family: "Graduate", serif;
}

.timereport-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.timereport-table th,
.timereport-table td {
    text-align: center;
    padding: 8px;
    border: 2px solid #ffa346;
}

.timereport-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}
.timereport-table td {
    background-color: #ffffff;
}

.noBulletLists {
    list-style: none;
}

.table-container {
    overflow-x: auto;
}

.timereport-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f2f2f2;
    border: 3px solid #ffa346;
}

.timereport-table th,
.timereport-table td {
    padding: 8px;
    border: 1px solid #ffa346;
}

.timereport-table th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: left;
}

@media only screen and (max-width: 768px) {
    .page-container {
        flex-direction: column;
    }

    .display-section {
        display: block;
        width: 97%; /* Sätt bredden till 100% för att de ska ta upp hela kolumnen */
        margin-bottom: 10px; /* Lägg till lite avstånd mellan varje label */
    }
    .PIE-select {
        display: block;
        text-align: center;
        width: 96%;
    }
    .PIE-input {
        display: block;
        text-align: center;
        width: 90%;
    }

    .L-T-form label:not(:last-child) {
        margin-bottom: 10px; /* Lägg till lite avstånd mellan varje label */
    }
    #LogTimereport-btn {
        margin-left: 30%;
        width: 50%;
    }
}
